// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// AdminLTE
@import "~admin-lte/dist/css/adminlte.min.css";

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    z-index: 9999;
}

.top-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    z-index: 9999;
    width: 40%;
    height: 30%;
    background-color: $cinzento !important;
    color: $azul-escuro !important;
}

.page-link {
    color: $azul-escuro !important;
    background-color: $cinzento !important;
    border: solid 1px $cinzento !important;
}

.pagination > .active > a {
    color: $cinzento !important;
    background-color: $azul-escuro !important;
    border: solid 1px $azul-escuro !important;
}

.irs--flat .irs-bar {
    background-color: $azul-claro !important;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single, .irs--flat .irs-handle>i:first-child{
    background-color: $azul-escuro !important;
}